[global]
# language=de
[secret]
ip=localhost
port=8080
tv=plasma
on_mode=local
gpio=21
boot_wait=3

# local storage for media files:
#
recordings=/home/pi/Kodi/LocalMedia/recordings
pictures=/home/pi/Kodi/LocalMedia/Pictures
